<div class="brand wrapper">
    <div class="header_style">
        <div class="header_style__decor_cube"></div>
        <h2 class="header_style__h2">Our Brand</h2>
        <div class="header_style__decor_cube"></div>
    </div>

    <div class="brand_items">
        <img class="brand_items--img" src = "./assets/images/6.png" alt = "img">
        <img class="brand_items--img" src = "./assets/images/5.png" alt = "img">
        <img class="brand_items--img" src = "./assets/images/4.png" alt = "img">
        <img class="brand_items--img" src = "./assets/images/3.png" alt = "img">
        <img class="brand_items--img" src = "./assets/images/2.png" alt = "img">
        <img class="brand_items--img" src = "./assets/images/1.png" alt = "img">
    </div>

</div>