<div class="customers">
    <div class="header_style header_customers">
        <div class="header_style__decor_cube"></div>
        <h2 class="header_style__h2">Customers Says</h2>
        <div class="header_style__decor_cube"></div>
    </div>
    <div class="flex_customers">

        <div class="customers_item">
            <img class="customers_block__items--img" src = "./assets/images/pik2.png" alt = "img">
            <div class="customers_block">
                <p class="customers_block__items--firstP">Sed ut perspiciatis<br/>unde omnis iste natus error sit<br/> voluptate accusantium doloremque</p>
                <h3 class="customers_block__items--h3">Sandra Dewi</h3>
                <p class="customers_block__secondP">Fashion stylish</p>
            </div>
        </div>

        <div class="customers_item">
            <div class="customers_block">
                <p class="customers_block__items--firstP">Sed ut perspiciatis<br/> unde omnis iste natus error sit<br/> voluptate accusantium doloremque</p>
                <h3 class="customers_block__items--h3">Shaheer Sheikh</h3>
                <p class="customers_block__secondP">Designer</p>
            </div>
            <img class="customers_block__items--img" src = "./assets/images/pik1.png" alt = "img">
        </div>
    </div>

</div>