<div class="footer_block wrapper">
    <div class = "block_menu">
        <h4 class = "block_menu__h4">Shops</h4>
        <ul class="block_menu__list">
            <li><a title="link || button" class="block_menu__list--items" href="#">New In</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Women</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Men</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Shoes</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Bags &#38; Accessories</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Top Brands</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Sale &#38; Special Offers</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Lookbook</a></li>
        </ul>
    </div>

    <div class = "block_menu">
        <h4 class = "block_menu__h4">information</h4>
        <ul class="block_menu__list">
            <li><a title="link || button" class="block_menu__list--items" href="#">About us</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Customer Service</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">New Collection</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Best Sellers</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Manufacturers</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Privacy policy</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Terms &#38; conditions</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Blog</a></li>
        </ul>
    </div>

    <div class = "block_menu">
        <h4 class = "block_menu__h4">Customer service</h4>
        <ul class="block_menu__list">
            <li><a title="link || button" class="block_menu__list--items" href="#">Search Terms</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Advanced Search</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Orders and Returns</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Contact Us</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">RSS</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Help &#38; FAQs</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Consultant</a></li>
            <li><a title="link || button" class="block_menu__list--items" href="#">Store Locations</a></li>
        </ul>
    </div>

    <div class = "block_menu">
        <h4 class = "block_menu__h4 notToggle">Stay connected</h4>
        <div class="social_footer">
            <a title="link || button" class = "social_footer__link" href="#">
                <svg class = "icon icon_facebook">
                    <use xlink:href = "assets/img/svg/svg-symbols.svg#facebook"></use>
                </svg>
            </a>

            <a title="link || button" class = "social_footer__link" href="#">
                <svg class = "icon icon_twitter">
                    <use xlink:href = "assets/img/svg/svg-symbols.svg#twitter"></use>
                </svg>
            </a>

            <a title="link || button" class = "social_footer__link" href="#">
                <svg class = "icon icon_instagram">
                    <use xlink:href = "assets/img/svg/svg-symbols.svg#instagram"></use>
                </svg>
            </a>

            <a title="link || button" class = "social_footer__link" href="#">
                <svg class = "icon icon_pinterest">
                    <use xlink:href = "assets/img/svg/svg-symbols.svg#pinterest"></use>
                </svg>
            </a>

            <a title="link || button" class = "social_footer__link" href="#">
                <svg class = "icon icon_rss">
                    <use xlink:href = "assets/img/svg/svg-symbols.svg#rss"></use>
                </svg>
            </a>


        </div>
        <p class="block_menu__p">SUBSCRIBE   in  OUR  NEWS  LETTER</p>
        <form class="social_footer__form" action="#" method="POST">
            <input class="social_footer__form--input" type="text" placeholder="Enter Your Email Address">
            <input class="social_footer__form--button" type="submit" value="subscribe">
        </form>
    </div>

</div>

<div class="footer_over wrapper">
    <div class="footer_copy">
        <small>&#169; 2015  Shopia  Fashion Store Shopify. <br/>
            All Rights Reserved. Ecommerce Software by Shopify. <br/>
            Designed by MoccaLabs.com</small>
    </div>

    <div class="footer_cart">
        <svg class = "icon icon_americanexpress">
            <use xlink:href = "assets/img/svg/svg-symbols.svg#americanexpress"></use>
        </svg>

        <svg class = "icon icon_mastercard">
            <use xlink:href = "assets/img/svg/svg-symbols.svg#cc-mastercard"></use>
        </svg>

        <svg class = "icon icon_visa">
            <use xlink:href = "assets/img/svg/svg-symbols.svg#cc-visa"></use>
        </svg>

        <svg class = "icon icon_discover">
            <use xlink:href = "assets/img/svg/svg-symbols.svg#cc-discover"></use>
        </svg>
    </div>

    <div class="flyButton">
        <svg class = "icon icon_angle-down">
            <use xlink:href = "assets/img/svg/svg-symbols.svg#angle-down"></use>
        </svg>
    </div>
</div>