<div class="hand_piked wrapper">
    <div class="header_style">
        <div class="header_style__decor_cube"></div>
        <h2 class="header_style__h2">HandPiked</h2>
        <div class="header_style__decor_cube"></div>
    </div>

    <div class="grid_piked">
        <div class="grid_piked--1 grid_shadow">
            <form action="#" method="POST" class="grid_shadow__form">
                <button title="link || button" class="grid_shadow__form--button"  type="submit">shop now</button>
            </form>
            <img  src = "./assets/images/Rectangle0.jpg" alt = "img">
        </div>

        <div class="grid_piked--2 grid_shadow">
            <img src = "./assets/images/Rectangle1.jpg" alt = "img">
            <form action="#" method="POST" class="grid_shadow__form">
                <button title="link || button" class="grid_shadow__form--button"  type="submit">shop now</button>
            </form>
        </div>

       <div class="grid_piked--3 grid_shadow">
           <img src = "./assets/images/Rectangle3.jpg" alt = "img">
           <form action="#" method="POST" class="grid_shadow__form">
               <button title="link || button" class="grid_shadow__form--button"  type="submit">shop now</button>
           </form>
       </div>

       <div class="grid_piked--4 grid_shadow">
           <img src = "./assets/images/Rectangle2.jpg" alt = "img">
           <form action="#" method="POST" class="grid_shadow__form">
               <button title="link || button" class="grid_shadow__form--button"  type="submit">shop now</button>
           </form>
       </div>

        <div class="grid_piked--5 grid_shadow">
            <img src = "./assets/images/Rectangle4.jpg" alt = "img">
            <form action="#" method="POST" class="grid_shadow__form">
                <button title="link || button" class="grid_shadow__form--button"  type="submit">shop now</button>
            </form>
        </div>

    </div>

</div>