<div class="header_nav wrapper">
    <address class="header_phone">
        <svg class = "icon icon_phone">
            <use xlink:href = "assets/img/svg/svg-symbols.svg#phone"></use>
        </svg>
        <span class="header_phone__span">Call +001 555 801</span>
    </address>

    <nav class="nav-block">
        <ul class="nav-block__nav-list">
            <li class="nav-block__list-item">
                <a title="link || button" class="nav-block__list-item--link" href="#">Welcome MSG!</a>
                <a title="link || button" href="#">
                    <svg class = "icon icon_mail">
                        <use xlink:href = "assets/img/svg/svg-symbols.svg#mail"></use>
                    </svg>
                </a>
            </li>
            <li class="nav-block__list-item">
                <a title="link || button" class="nav-block__list-item--link" href="#">My Account</a>
                <a title="link || button" href="#">
                    <svg class = "icon icon_user">
                        <use xlink:href = "assets/img/svg/svg-symbols.svg#user"></use>
                    </svg>
                </a>
            </li>
            <li class="nav-block__list-item">
                <a title="link || button" class="nav-block__list-item--link" href="#">My WhistList</a>
                <a title="link || button" href="#">
                    <svg class = "icon icon_heart">
                        <use xlink:href = "assets/img/svg/svg-symbols.svg#heart"></use>
                    </svg>
                </a>
            </li>
            <li class="nav-block__list-item">
                <a title="link || button" class="nav-block__list-item--link" href="#">Login</a>
                <a title="link || button" href="#">
                    <svg class = "icon icon_enter">
                        <use xlink:href = "assets/img/svg/svg-symbols.svg#enter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="header_main wrapper">
    <nav class="menu-block">
        <svg class = "icon icon_menu">
            <use xlink:href = "assets/img/svg/svg-symbols.svg#menu"></use>
        </svg>
        <ul class="menu-block__nav-list">
            <li class="menu-block__list-items"><a title="link || button" href="#">Home</a></li>
            <li class="menu-block__list-items"><a title="link || button" href="#">Gallery</a></li>
            <li class="menu-block__list-items"><a title="link || button" href="#">Categories</a></li>
            <li class="menu-block__list-items"><a title="link || button" href="#">Pages</a></li>
        </ul>
    </nav>

    <div class="logo">Shophia</div>

    <div class="social_menu">
        <a title="link || button" class="social_menu--link" href="#">
            <svg class = "icon icon_facebook">
                <use xlink:href = "assets/img/svg/svg-symbols.svg#facebook"></use>
            </svg>
        </a>

        <a title="link || button" class="social_menu--link" href="#">
            <svg class = "icon icon_twitter">
                <use xlink:href = "assets/img/svg/svg-symbols.svg#twitter"></use>
            </svg>
        </a>

        <a title="link || button" class="social_menu--link" href="#">
            <svg class = "icon icon_pinterest">
                <use xlink:href = "assets/img/svg/svg-symbols.svg#pinterest"></use>
            </svg>
        </a>

        <a title="link || button" class="social_menu--link" href="#">
            <svg class = "icon icon_instagram">
                <use xlink:href = "assets/img/svg/svg-symbols.svg#instagram"></use>
            </svg>
        </a>
    </div>
    <div class="select_box">
        <select name="header_select" class="header_select">
            <option class="header_select--option" selected value="Rupiah">Rupiah</option>
            <option class="header_select--option" value="Rupiah">Bakery</option>
            <option class="header_select--option" value="Rupiah">Harvest CO</option>
            <option class="header_select--option" value="Rupiah">Landlock</option>
            <option class="header_select--option" value="Rupiah">Spectrum</option>
            <option class="header_select--option" value="Rupiah">Home Energy</option>
        </select>
    </div>
    <svg class = "icon icon_plus">
        <use xlink:href = "assets/img/svg/svg-symbols.svg#plus"></use>
    </svg>
</div>