<div class="main_slick">
    <div class = "item">
        <img src = "./assets/images/Layer1.jpg" alt = "img">
        <div class="banner_slide">
            <div class="banner_slide__first">mid-season</div>
            <div class="banner_slide__second">sale</div>
            <div class="banner_slide__third">up to</div>
            <div class="banner_slide__fourth">50% off</div>
        </div>
        <a href="#" class="item__button">Shop now</a>
    </div>

    <div class = "item">
        <img src = "./assets/images/Layer2.jpg" alt = "img">
        <div class="banner_slide">
            <div class="banner_slide__first">hot-season</div>
            <div class="banner_slide__second">new</div>
            <div class="banner_slide__third">100 %</div>
            <div class="banner_slide__fourth">best choice</div>
        </div>
        <a href="#" class="item__button">Shop now</a>
    </div>

    <div class = "item">
        <img src = "./assets/images/Layer3.jpg" alt = "img">
        <div class="banner_slide">
            <div class="banner_slide__first">last-season</div>
            <div class="banner_slide__second">sale</div>
            <div class="banner_slide__third">up to</div>
            <div class="banner_slide__fourth">70% off</div>
        </div>
        <a href="#" class="item__button">Shop now</a>
    </div>

    <div class = "item">
        <img src = "./assets/images/Layer4.jpg" alt = "img">
        <div class="banner_slide">
            <div class="banner_slide__first">second-hand</div>
            <div class="banner_slide__second">ultra</div>
            <div class="banner_slide__third">sale</div>
            <div class="banner_slide__fourth">discount 90%</div>
        </div>
        <a href="#" class="item__button">Shop now</a>
    </div>
</div>