<div class="summer wrapper">
    <div class="header_style">
        <div class="header_style__decor_cube"></div>
        <h2 class="header_style__h2">Summer Collection</h2>
        <div class="header_style__decor_cube"></div>
    </div>

    <div class="summer_slide">
        <div class="summer_slide__item">
            <img src = "./assets/images/1.jpg" alt = "img">
            <form action="#" method="POST">
                <button title="link || button" class="summer_slide__item--button"  type="submit">+Add to cart</button>
            </form>
        </div>
        <div class="summer_slide__item">
            <img src = "./assets/images/2.jpg" alt = "img">
            <form action="#" method="POST">
                <button title="link || button" class="summer_slide__item--button"  type="submit">+Add to cart</button>
            </form>
        </div>
        <div class="summer_slide__item">
            <img src = "./assets/images/3.jpg" alt = "img">
            <form action="#" method="POST">
                <button title="link || button" class="summer_slide__item--button"  type="submit">+Add to cart</button>
            </form>
        </div>
        <div class="summer_slide__item">
            <img src = "./assets/images/4.jpg" alt = "img">
            <form action="#" method="POST">
                <button title="link || button" class="summer_slide__item--button"  type="submit">+Add to cart</button>
            </form>
        </div>
        <div class="summer_slide__item">
            <img src = "./assets/images/5.jpg" alt = "img">
            <form action="#" method="POST">
                <button title="link || button" class="summer_slide__item--button"  type="submit">+Add to cart</button>
            </form>
        </div>
        <div class="summer_slide__item">
            <img src = "./assets/images/6.jpg" alt = "img">
            <form action="#" method="POST">
                <button title="link || button" class="summer_slide__item--button"  type="submit">+Add to cart</button>
            </form>
        </div>
        <div class="summer_slide__item">
            <img src = "./assets/images/7.jpg" alt = "img">
            <form action="#" method="POST">
                <button title="link || button" class="summer_slide__item--button"  type="submit">+Add to cart</button>
            </form>
        </div>
        <div class="summer_slide__item">
            <img src = "./assets/images/8.jpg" alt = "img">
            <form action="#" method="POST">
                <button title="link || button" class="summer_slide__item--button"  type="submit">+Add to cart</button>
            </form>
        </div>
    </div>


</div>