<div class="support wrapper">
    <div class="support__items">
        <svg class = "icon icon_plane support__items--svg">
            <use xlink:href = "assets/img/svg/svg-symbols.svg#plane"></use>
        </svg>
        <h3 class="support__items--h3">Free shipping</h3>
        <p class="support__items--p">In Order Min $200</p>
    </div>

    <div class="support__items">
        <svg class = "icon icon_clock-o support__items--svg">
            <use xlink:href = "assets/img/svg/svg-symbols.svg#clock-o"></use>
        </svg>
        <h3 class="support__items--h3">30-Days returns</h3>
        <p class="support__items--p">Money Back Guarantee</p>
    </div>

    <div class="support__items">
        <svg class = "icon icon_life-ring support__items--svg">
            <use xlink:href = "assets/img/svg/svg-symbols.svg#life-ring"></use>
        </svg>
        <h3 class="support__items--h3">24/7 support</h3>
        <p class="support__items--p">Lifetime Support</p>
    </div>
</div>